@import '../../../styles/styleguide.scss';

.selectBox-container {
  //width: 50%;
  label {
    font-size: 12px;
    font-family: $heading-font-family;
    font-weight: 600;
    text-align: left;
    color: #6e688f;
    text-transform: uppercase;
  }
  .checkbox{
    margin: 0px 5px 0px 0px;
    width: 11px;
  }
  .optionListContainer{
    width: 150%;
  }
  .select-input {
    // margin-top: 8px;
  }
}
