/* colors */

$primary:#23252B;
$white: #fff;
$blue: #1672DF;

/* background colors */
$bg-white: #fff;
$bg-green: #0DCA7A;
$bg-green-1:#0AB66D;
$bg-red: #DC4A38;
$bg-blue: #4267B2;

$bg-btn-green: #0DCA7A;
$bg-btn-hover: #0AB66D;

/* border colors */
$border-input: #96ADC8;
$border-input-focus: #599FF6;
$border-input-error: #F65959;
$border-button: #96ADC8;

/* error colors */
$error-input: #d44950;
$success-input: #28a745;
$error: #d44950;
$success: #28a745;